<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 page-wrapper">
      <h2 class="text-center page-header">Forgot Password</h2>
      <div class="imgcontainer">
        <img src="../../../assets/img/dummy-logo.png" alt="Avatar" class="avatar">
      </div>
       <!-- Login Form -->
      <form [formGroup]="forgotPasswordForm" novalidate class="p-3">
        <div>
          <label for="uname">Email</label>
          <input placeholder="Enter Registered Email" class="form-control" formControlName="email" autocomplete="off"/>
          <button [disabled]="!forgotPasswordForm.valid" type="button" (click)="submit(forgotPasswordForm)">Submit</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
      <div style="margin-top:30px">
        <span class="have-acccount-sec">Continue to Login <a routerLink="../login">Click Here</a></span>
      </div>
    </div>
  </div>
</div>