<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 page-wrapper">
        <h2 class="text-center page-header">Registration</h2>
  
          <!-- Page Logo -->
          <div class="imgcontainer">
            <img alt="Avatar" src="../../../assets/img/dummy-logo.png" class="avatar">
          </div>
    
          <!-- Login Form -->
          <form [formGroup]="registerForm" novalidate class="p-3">
            <div>
              <label for="email">Email</label>
              <input placeholder="Enter Email" class="form-control" formControlName="email" autocomplete="off"/>
        
              <label for="psw">Password</label>
              <input type="password" placeholder="Enter Password" class="form-control" formControlName="password" autocomplete="off"/>
        
              <button [disabled]="!registerForm.valid" type="button" (click)="submit(registerForm)">Register</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          </form>
            
          <div>
            <span class="have-acccount-sec">Already having an Account? <a routerLink="../login">Login</a></span>
          </div>
    
        <div>
          <div class="text-right mb-1">
            <span>
              <a routerLink="../forgot-password">Forgot Password?</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>